.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
  align-items: center;
  text-align: start; 
}

.sidebarChat:hover{
  background-color: lightblue;
}

.sidebarChat_info {
  margin-left: 15px;
  flex: 1;
  h2 {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.sidebarChat_right {
  display: flex;
  flex-direction: colum;
}

.right_icon {
  display: flex;
  height: 25px;
  svg {
    margin-right: 10px;
  }
}