.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  .chat_details {
    flex: 1;
    align-items: flex-start;
    text-align: start;
    padding-left: 1em;

    p {
      color: gray
    }
  }
}
