.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-image: url("../docs/imageWall.png");
  background-size: 100rem;
  .register {
    height: 80vh;
    background-color: whitesmoke;
    border: black solid 2px;
    margin-right:20px;
    float: center;
    border-radius: 30px 30px 30px 30px;
    margin: auto;
    padding: 10px;

    .forms {
      margin-top:200px;
      display:flex;
      flex-direction: column;
      align-items: space-between;
    }
  }

}