@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.nav {

  display: flex;
  flex-direction: column;

  .filter-btn {
    align-content: center;
  }
  .nav-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.buttonList {
  display: flex;
}



.nav-bar-tab {
  display:flex;
  flex-direction: row;
}
.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
}
.nav-bar-title {
  display: flex;
  flex-direction: row;
  img {
  margin-top: 10px;
    width: 80px;
    height: 60px;
  }
  width: 210px;
}

.filter_buttons {
  display: flex;
  justify-content: center;


  button {
    margin-right: 50px;
    margin-left: 50px;
    font-family: sans-serif;
    text-decoration: none;
    border:none;
    color: #fff;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    &:hover {
      transform: translateY(-5px);
    }
  }
  .delete {
    background-color: #dc3545;
  }
  .save {
    background-color: #0d6efd;
  }
}

.nav-bar-logo{
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  margin-left:10px;
  margin-top: 23px;
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 4s steps(7,end) 1s 1 normal both;
           
}

.favorite {
  width: 160px;
  height: 48px;

}
.favorite_switch{
  display: flex;
  position: relative;
  align-items: center;
  input {
    position: absolute;
    left: 0px;
  }



  .MuiSwitch-root {
    width: 68px;
    height: 48px;
    padding: 0;
    position: absolute;
    top: 2px;
    left: 105px;

    
  }

 
  .MuiSwitch-track {
    position: absolute;
    height: 14px;
    width: 34px;
    top: 15px;
    left: 15px;
  }
  .MuiIconButton-label {

    position: relative;

  }
 
}


@keyframes animated-text{
  from{width: 0;}
  to{width: 90px;}
}


// .MuiTab-textColorInherit {

// }




