.nav {
  display: flex;
  flex-direction: column;

  .filter-btn {
    align-content: center;
  }
  .nav-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.buttonList {
  display: flex;
}

.nav-bar-tab {
  display:flex;
  flex-direction: row;
  margin-right: 220px;
}
