
.ProfileCard {
  width: 350px;
  height: 430px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.7);
}

.MuiDialog-paperWidthSm{
  max-width: fit-content;
}

.MuiGrid-grid-xs-12 {
  display: flex;
  justify-content: center;
}

// .card {
//  padding-left: 20px 
// }



@import url('https://fonts.googleapis.com/css?family=Krub:400,700');


.name {
  margin-left: 20px;
  padding-top:10px;
  text-align: left;
}



.card {
  width: 350px;
  height: 450px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.7);
  position: relative;
  animation: fadeIn 2s;
}

.profile_photo {
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  min-width: 200px;
  position: absolute;
  margin: auto;
  top: 50px;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #151515,
              inset 0 0 0 5px #000000,
              inset 0 0 0 5px #000000,
              inset 0 0 0 5px #000000,
              inset 0 0 0 5px #000000,;
  background: white;
  overflow: hidden;
  animation: fadeIn 1s;
}
.crown {
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
  position: absolute;
  right: 90px;
  top: 30px;
  
  
}

.profile_card_tags {
  height: 29px;
 
  color:black;
  margin: 2px;
  border: solid black;
}

.card_content{
  position: absolute;
  top:260px;
  right: 0;
  left: 0;
  animation: fadeIn 1s;
  padding-left: 8px;
  padding-right: 8px;

}

.card_title {
  margin-top: 10px;
  position: absolute;
  right: 0;
  left: -120px;
  font-size: 22px;
  animation: fadeInMoveTitle 1s;
}

.card_match {
  span {
    color: black;
  }
  position: absolute;
  top: 15px;
  right: 15px;
  color: black;
}

.icon {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;
  position: absolute;
  bottom: 10px; 
  right: 0;
  left: 0;
  .MuiSvgIcon-root {
    width: 35px;
    height: fit-content;
  }

}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeInMoveTitle {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: -120;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes htmlSkill {
  0% {width: 0;}
  100% {width: 95%;}
}

@keyframes cssSkill {
  0% {width: 0;}
  100% {width: 90%;}
}

@keyframes jsSkill {
  0% {width: 0;}
  100% {width: 75%;}
}

@keyframes mvBottom {
  0% {bottom: -150px;}
  100% {bottom: 10px;}
}

@keyframes mvTop {
  0% {top: -150px;}
  100% {top: 70px;}
}

@keyframes dsTop {
  0% {top: -150px;}
  100% {top: 0;}
}

.following {
  color: white;
  background: crimson;
}

