
.MuiDialog-paperWidthSm{
  max-width: fit-content;
}

.MuiGrid-grid-xs-12 {
  display: flex;
  justify-content: center;
}

// .card {
//  padding-left: 20px 
// }



@import url('https://fonts.googleapis.com/css?family=Krub:400,700');


.name {
  margin-left: 20px;
  padding-top:10px;
  text-align: left;
}



.card {
  width: 350px;
  height: 450px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.7);
  position: relative;
  animation: fadeIn 2s;
}

.profile_photo {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 85px;
  top: 52px;
  border: 6px solid ;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  border-image-slice: 1;
  border-image-source: linear-gradient(#F386FD 0%, #0B86F8 100%);
  background:linear-gradient( #F386FD 0%, #0B86F8 100%);  
  border-radius: 999px;
  animation: fadeIn 1s;
}

.profile_photo:hover {
  z-index: -999;
 
}

.card-dialog:hover {
  z-index:100;
  opacity: 80%;
}

.card-dialog {
  position: relative;
  width: 180px;
  height: 180px;
  left: 85px;
  top: 52px;
  background-color: #999999;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  border-radius: 999px;
 
  .card-dialog-open {
    margin-top: 80px;
  .card-dialog-open-button {
    background:transparent;
    border:none;
    margin:0;
  }
 }
}



.crown {
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
  position: absolute;
  right: 80px;
  top: 40px;
  z-index: 2;
}

.profile_card_tags {
  height: 29px;
  color:black;
  margin: 2px;
  border: solid black;
}

.card_content{
  position: absolute;
  top:225px;
  right: 0;
  left: 0;
  animation: fadeIn 1s;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 18px;

}

.card_title {
  margin-top: 10px;
  // position: absolute;
  // right: 0;
  // left: -120px;
  font-size: 22px;
  animation: fadeInMoveTitle 1s;
}

.card-top {
  span {
    color: black;
  }
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-top:12px;
  color: black;
  font-size: 18px;
  .card-address {
    position: absolute;
    right: -200px;
    display: flex;
    flex-direction: row;
    .card-location-icon{
      font-size:large;
    }
  }
}

.card-notes {
  font-size:14px;
  color: #999999;
}

.icon {
  color:#999999;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  position: absolute;
  bottom: 3px; 
  right: 0;
  left: 15px;
  border-top: 1px solid #E5E5E5;
  width: 90%;

  .MuiSvgIcon-root {
    width: 35px;
    height: fit-content;
  }

}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeInMoveTitle {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: -120;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes htmlSkill {
  0% {width: 0;}
  100% {width: 95%;}
}

@keyframes cssSkill {
  0% {width: 0;}
  100% {width: 90%;}
}

@keyframes jsSkill {
  0% {width: 0;}
  100% {width: 75%;}
}

@keyframes mvBottom {
  0% {bottom: -150px;}
  100% {bottom: 10px;}
}

@keyframes mvTop {
  0% {top: -150px;}
  100% {top: 70px;}
}

@keyframes dsTop {
  0% {top: -150px;}
  100% {top: 0;}
}

.following {
  color: white;
  background: crimson;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000,  #7a00ff, #f2a1a3, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

