.tags {
  background-color: transparent;
}

.tags-selected {
  background-color: grey;
}

.chip {
  color: grey;
}

.filter_button {
  margin: 2px;
  transition: all .1s ease-in-out;

  &:hover {
    transform: scale(0.9);
  }
}