.user-page {
  display: flex;
  flex-wrap: wrap;

  
  .no-results {
    text-align: center;

  }
  .user-page-ind {
    flex: 1 0 33%; 
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

#user-page-button {
  margin-top: 60px
}

