
.user-page {
  display: flex;
  flex-wrap: wrap;

  
  .no-results {
    text-align: center;

  }
  .user-page-ind {
    flex: 1 0 33%; 
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

#user-page-button {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// button style

.wrapper-left {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  svg {
    transform:rotate(180deg);
    width: 30px;
    height:20px
  }
  .cta-left {
      display: flex;
      padding: 2px 15px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 22px;
      color: white; 
      background: #f2a1a3;
      transition: 1s;
      box-shadow: -6px 6px 0 black;
      transform: skewX(15deg);
  }
  
  .cta-left:focus {
     outline: none; 
  }
  
  .cta-left:hover {
      transition: 0.5s;
      box-shadow: -10px 10px 0 #FBC638;
  }
  
  .cta-left span:nth-child(2) {
      transition: 0.5s;
      margin-left: 0px;
  }
  
  .cta-left:hover  span:nth-child(2) {
      transition: 0.5s;
      margin-left: 45px;
  }
}

.button-label-left {
  margin-left:10px;
  // margin-right:20px;
}

.button-label-right {
  margin-left:20px;
  margin-right:10px; 
}




// #arrow-left {
//   transform:rotate(180deg);
//   // padding-right:200px;
// }


.wrapper-right {
  margin-right: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;

  svg {
    width: 30px;
    height:20px
  }
}

.cta-right {
  display: flex;
  padding: 2px 1px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  color: white; 
  background: #f2a1a3;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta-right:focus {
 outline: none; 
}

.cta-right:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}

.cta-right span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta-right:hover  span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}


  
/**************SVG****************/

path.one-left {
    height: 1px;
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two-left {
    transition: 0.5s;
    transform: translateX(-30%);
}

path.one-right {
  height: 1px;
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two-right {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta-right:hover path.three-right {
    animation: color_anim 1s infinite 0.2s;
}

.cta-right:hover path.one-right {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta-right:hover path.two-right {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

.cta-left:hover path.three-left {
  animation: color_anim 1s infinite 0.2s;
}

.cta-left:hover path.one-left {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta-left:hover path.two-left {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

